@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.about {
  padding-block: functions.responsive-value(56, 32) functions.responsive-value(80, 24);

  > *:last-child {
    margin-block-end: 0;
  }

  // .about__content
  &__content {
    margin-block-end: functions.responsive-value(74, 32);

    @media (min-width: #{768 + 0.1px}) {
      display: grid;
      grid-template-columns: calc(696 / 592 * 1fr) calc(488 / 592 * 1fr);
      grid-template-areas:
        "slider title"
        "slider text";
      row-gap: functions.responsive-value(24, 16);
      column-gap: 32px;
    }

    > *:last-child {
      @media (max-width: 768px) {
        margin-block-end: 0;
      }
    }
  }

  // .about__title
  &__title {
    --h2-text-wrap: auto;

    @media (max-width: 768px) {
      margin-block-end: 16px;
    }

    @media (min-width: #{768 + 0.1px}) {
      --h2-text-align: start;

      grid-area: title;
    }
  }

  // .about__text
  &__text {
    @media (min-width: #{768 + 0.1px}) {
      grid-area: text;
      padding-block-end: 6px;
    }

    p {
      &:not(:last-child) {
        margin-block-end: 1em;
      }
    }
  }

  // .about__slider
  &__slider {
    @media (max-width: 768px) {
      margin-block-end: 24px;
    }

    @media (min-width: #{768 + 0.1px}) {
      grid-area: slider;
    }
  }

  // .about__advantages
  &__advantages {
    margin-block-end: functions.responsive-value(72, 48);

    @media (max-width: 768px) {
      margin-inline: auto;
    }
  }

  // .about__button
  &__button {
    --button-padding-inline: #{functions.responsive-value(13, 10)};
    --button-font-size: #{functions.responsive-value(16, 13)};

    margin-inline: auto;

    @media (max-width: 768px) {
      --button-inline-size: 100%;
      --button-line-height: 1.23;
    }
  }
}

.about-slider {
  @media (max-width: 768px) {
    overflow: visible;
  }

  @media (min-width: #{768 + 0.1px}) {
    border-radius: functions.responsive-value(16, 8);
  }

  // .about-slider__wrapper
  &__wrapper {
  }

  // .about-slider__slide
  &__slide {
  }

  // .about-slider__image
  &__image {
    display: block;
    block-size: 100%;
    border-radius: functions.responsive-value(16, 8);

    @media (max-width: 768px) {
      aspect-ratio: 328 / 184;
    }
  }

  // .about-slider__arrows
  &__arrows {
    position: absolute;
    inset-block-start: 50%;
    inset-inline: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding-inline: 24px;
    transform: translateY(-50%);
    pointer-events: none;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.about-advantages {
  display: grid;
  gap: 32px;

  @media (max-width: 768px) {
    inline-size: fit-content;
  }

  @media (min-width: #{768 + 0.1px}) {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  // .about-advantages__item
  &__item {
    display: grid;
    gap: functions.responsive-value(24, 16);

    @media (max-width: 768px) {
      grid-template-columns: functions.responsive-value(136, 64) auto;
      align-items: center;
    }

    @media (min-width: #{768 + 0.1px}) {
      grid-template-rows: functions.responsive-value(136, 64) auto;
      justify-items: center;
      text-align: center;
    }
  }

  // .about-advantages__icon
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: functions.responsive-value(136, 64);
    aspect-ratio: 1 / 1;
    font-size: 0;
    border: functions.responsive-value(2, 1) solid;
    border-radius: 50%;

    @media (min-width: #{768 + 0.1px}) {
      border-color: variables.$color-878787;
    }
  }

  // .about-advantages__text
  &__text {
    display: flex;
    flex-direction: column;
    gap: functions.responsive-value(8, 0);
    line-height: 1;
    letter-spacing: 0.01em;

    @media (min-width: #{768 + 0.1px}) {
      align-items: center;
    }
  }

  // .about-advantages__value
  &__value {
    font-weight: 600;
    font-size: functions.responsive-value(48, 32);
    color: variables.$color-ff4023;
  }

  // .about-advantages__description
  &__description {
    font-weight: 700;
    font-size: functions.responsive-value(24, 16);

    @media (min-width: #{768 + 0.1px}) {
      line-height: 1.17;
    }
  }
}
