@use "../../functions/functions";
@use "../../mixins/mixins";
@use "../../variables/variables";

.licenses {
  padding-block: functions.responsive-value(56, 29) functions.responsive-value(72, 28);
  background-color: variables.$color-878787;

  @media (max-width: 768px) {
    color: variables.$color-white;
  }

  @media (min-width: #{768 + 0.1px}) {
    background-color: variables.$color-f2f2f2;
  }

  // .licenses__title
  &__title {
    margin-block-end: functions.responsive-value(40, 19);
  }

  // .licenses__slider
  &__slider {
    @media (min-width: #{768 + 0.1px}) {
      display: grid;
      grid-template-columns: 56px 1fr 56px;
      align-items: center;
      gap: 48px;
    }
  }

  // .licenses__arrow
  &__arrow {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.licenses-slider {
  @media (max-width: 768px) {
    overflow: visible;
  }

  @media (min-width: #{768 + 0.1px}) {
    grid-column: 2 / 3;
    border-radius: functions.responsive-value(16, 8);
  }

  // .licenses-slider__wrapper
  &__wrapper {
  }

  // .licenses-slider__slide
  &__slide {
  }

  // .licenses-slider__image
  &__image {
    display: block;
    aspect-ratio: 280 / 384;
    font-size: 0;
    background-color: variables.$color-white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.24);
    border: functions.responsive-value(24, 8) solid variables.$color-white;
    border-radius: functions.responsive-value(16, 8);
  }
}
